.Player {
  display: block;
  img {
    max-height: 250px;
  }
  .card {
    background-color: yellow;
    color: red;
    margin-bottom: 10px;
    padding: 5px;
    .btn {
      background-color: red;
      color: yellow;
      margin: 5px;
    }
    .btn:hover {
      text-decoration: underline;
      opacity: .7;
    }
  }
}
